```
# Dependencies
vendor/

# Logs
*.log

# Environment
.env
.env.local
*.env.*

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
target/
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.out

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.venv.bak/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.mypy_cache/
.pytest_cache/
.hypothesis/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
dist/
build/
*.min.js
*.min.css

# Java
*.class
*.jar
*.war
*.ear
*.nar
target/
.gradle/
build/

# C/C++
*.o
*.a
*.so
*.dll
*.exe
*.out
*.obj
*.ilk
*.pdb
*.idb
*.sdf
*.opensdf
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.VC.db
*.VC.VC.opendb

# Go
*.o
*.a
*.so
*.exe
*.dll
*.dylib
*.test
*.prof
vendor/

# Ruby
*.gem
*.rbc
coverage/
InstalledFiles
pkg/
spec/reports/
spec/examples.txt
.ruby-version
.sass-cache/
/
/
.capistrano/
.rbenv-vars
.rbenv-gemsets
.bundle/
.rbenv-default-gems
.rbenv-vars
config/initializers/secret_token.rb

# PHP
vendor/
composer.lock
*.log
.sass-cache/
/
/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Rust
target/
*.dll
*.dylib
*.so
Cargo.lock

# C#
*.sln
*.csproj
*.user
*.userosscache
*.suo
*.tmp
*.cache
*.ncb
*.opt
*.plg
*.tlb
*.tli
*.tlh
*.bak
*.doc
*.pdf
bin/
obj/
.csproj.user
.lock
.vs/

# Scala
*.class
*.log
.libs/
project/project/
project/target/
target/
.DS_Store
.stest/
work/

# Haskell
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.tix
cabal-dev/
dist/
dist-*
cabal.config
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog

# Lua
*.lua~
*.luac

# Perl
*.o
*.ph
blib/
Makefile
Makefile.old
pm_to_blib/
pm_to_blib.ts
*.ts
.META/
MYMETA.json
MYMETA.yml
Build
_build/
cover_db/
.lwpcookies

# Objective-C
*.o
*.lo
*.la
*.alac
*.caff
*.ogg
*.mp3
*.mp4
*.m4a
*.m4v
*.mov
*.avi
*.wmv
*.flv
*.swf
*.icns
*.ico
*.pdf
*.dmg
*.pkg
*.mpkg
*.app
*.applescript
*.scpt
*.scptd
*.workflow
*.wdgt
*.bundle
*.framework
*.plugin
*.kext
.DS_Store
*.swp
*.swo
*~
.project
.tm_properties
*.tmproj
nbproject/
.settings/
*.mode1v3
*.mode2v3
*_pbxuser
*.perspective
*.perspectivev3
*.userprefs
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.lproj/
*.lproj/.DS_Store

# Swift
*.o
*.lo
*.la
*.alac
*.caff
*.ogg
*.mp3
*.mp4
*.m4a
*.m4v
*.mov
*.avi
*.wmv
*.flv
*.swf
*.icns
*.ico
*.pdf
*.dmg
*.pkg
*.mpkg
*.app
*.applescript
*.scpt
*.scptd
*.workflow
*.wdgt
*.bundle
*.framework
*.plugin
*.kext
.DS_Store
*.swp
*.swo
*~
.project
.tm_properties
*.tmproj
nbproject/
.settings/
*.mode1v3
*.mode2v3
*_pbxuser
*.perspective
*.perspectivev3
*.userprefs
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.lproj/
*.lproj/.DS_Store

# Erlang
*.beam
*.plt
.erlang.cookie
.eunit
.rebar
rebar.lock
ebin/

# Elixir
*.beam
*.plt
*.eunit
*.iml
*.un~
.DS_Store
.erlang.cookie
.eex.swp
mix.lock

# OCaml
*.cmo
*.cmi
*.cma
*.cmxa
*.cmx
*.o
*.a
*.so
*.exe
*.out
*.run
*.opt
*.annot
*.spot
*.spit
*.p
*.log
*~
.\#*
,*.s
*.pp
*.annot
*.spot
*.spit
*.backup
*.dump
*.cache
*.zi
*.za
*.omakedb
*.omakedb.lock
*.omc
*.omakedb
*.omakedb.lock
OMakefile
OMakeroot
omake_*
OCAMLTOPSTARTUP
*.native
*.byte
*.topstart

# Clojure
*.class
*.clj.class
target/
pom.xml.asc%
pom.xml.tag%
*.edn
*.clj~

# Groovy
*.class
*.jar
*.war
*.ear
build/
.gradle/
target/

# Gradle
.gradle/
build/

# Android
*.apk
*.ap_
*.aab
build/
.externalNativeBuild
.gradle
local.properties
captures/
.pro
.cxx/
.libs/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools/
Logs/
MemoryCaptures/
WebGLTemplates/
unityConfigureRevision.txt
AutoBuilder/
AutoBuilder.exe
AutoBuilder.exe.meta
autobuild.bat
autobuild.bat.meta
autobuild.sh
autobuild.sh.meta
autobuild.meta
AutobuildConfig.json
AutobuildConfig.json.meta
AutobuildLog.txt
AutobuildLog.txt.meta
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.VC.VC.opendb
*.meta
*.log
*.cache
*.asmdef
*.rsp
*.asmref
*.meta~*
*.pidb~*
*.pdb~*
*.mdb~*
*.cache~*
*.prefab~*
*.unity~*
*.asset~*
*.mat~*
*.anim~*
*.controller~*
*.guiskin~*
*.fontsettings~*
*.giparams~*
*.physicMaterial~*
*.physicsMaterial2D~*
*.flare~*
*.mask~*
*.overrideController~*
*.particle~*
*.physicsShape~*
*.prefs~*
*.substate~*
*.target~*
*.time~*
*.override~*
*.spriteatlas~*
*.terrain~*
*.tga~*
*.tif~*
*.tiff~*
*.dds~*
*.exr~*
*.hdr~*
*.gif~*
*.jpeg~*
*.jpg~*
*.png~*
*.psd~*
*.svg~*
*.ai~*
*.eps~*
*.pdf~*
*.fbx~*
*.mb~*
*.ma~*
*.blend~*
*.max~*
*.c4d~*
*.lxo~*
*.obj~*
*.dae~*
*.3ds~*
*.ase~*
*.skp~*
*.wrl~*
*.x3d~*
*.dxf~*
*.dwg~*
*.svg~*
*.ai~*
*.eps~*
*.indd~*
*.idml~*
*.indb~*
*.inx~*
*.icml~*
*.sla~*
*.scad~*
*.stl~*
*.step~*
*.stp~*
*.iges~*
*.igs~*
*.jt~*
*.par~*
*.sldasm~*
*.sldprt~*
*.asm~*
*.prt~*
*.catpart~*
*.catproduct~*
*.CATPart~*
*.CATProduct~*
*.cgr~*
*.model~*
*.exp~*
*.3dxml~*
*.ifc~*
*.rb~*
*.py~*
*.js~*
*.ts~*
*.cs~*
*.vb~*
*.java~*
*.cpp~*
*.c~*
*.h~*
*.hpp~*
*.cxx~*
*.cc~*
*.ino~*
*.sql~*
*.xml~*
*.json~*
*.yml~*
*.yaml~*
*.toml~*
*.cfg~*
*.ini~*
*.txt~*
*.rtf~*
*.odt~*
*.doc~*
*.docx~*
*.xls~*
*.xlsx~*
*.ppt~*
*.pptx~*
*.csv~*
*.md~*
*.markdown~*
*.tex~*
*.bib~*
*.bst~*
*.cls~*
*.sty~*
*.dtx~*
*.ins~*
*.ltx~*
*.mk~*
*.make~*
*.cmake~*
*.pro~*
*.pri~*
*.prf~*
*.qbs~*
*.qml~*
*.qrc~*
*.qss~*
*.ui~*
*.ts~*
*.po~*
*.pot~*
*.mo~*
*.desktop~*
*.directory~*
*.menu~*
*.service~*
*.socket~*
*.target~*
*.timer~*
*.path~*
*.slice~*
*.automount~*
*.mount~*
*.swap~*
*.conf~*
*.config~*
*.properties~*
*.prefs~*
*.settings~*
*.lock~*
*.lockb~*
*.sh~*
*.bash~*
*.zsh~*
*.fish~*
*.bat~*
*.cmd~*
*.ps1~*
*.rb~*
*.pl~*
*.pm~*
*.t~*
*.pod~*
*.php~*
*.asp~*
*.aspx~*
*.jsp~*
*.jspx~*
*.html~*
*.htm~*
*.xhtml~*
*.shtml~*
*.css~*
*.scss~*
*.sass~*
*.less~*
*.styl~*
*.coffee~*
*.litcoffee~*
*.vue~*
*.jsx~*
*.tsx~*
*.elm~*
*.purs~*
*.ls~*
*.fs~*
*.fsi~*
*.fsx~*
*.fsscript~*
*.ml~*
*.mli~*
*.eliom~*
*.eliomi~*
*.re~*
*.rei~*
*.graphql~*
*.gql~*
*.proto~*
*.thrift~*
*.avdl~*
*.avpr~*
*.avsc~*
*.avro~*
*.edn~*
*.hic~*
*.boot~*
*.cljs~*
*.cljc~*
*.edn~*
*.boot~*
*.cirru~*
*.hy~*
*.jl~*
*.nb~*
*.wl~*
*.wls~*
*.nbp~*
*.cdf~*
*.m~*
*.wl~*
*.wls~*
*.mx~*
*.m~*
*.fig~*
*.dot~*
*.gv~*
*.neato~*
*.twopi~*
*.circo~*
*.fdp~*
*.sfdp~*
*.patch~*
*.diff~*
*.rej~*
*.orig~*
*.bak~*
*.old~*
*.new~*
*.tmp~*
*.temp~*
*.swp~*
*.swo~*
*.~lock~*
*.lock~*
*.db~*
*.db-shm~*
*.db-wal~*
*.sqlite~*
*.sqlitedb~*
*.db3~*
*.sqlite3~*
*.dbf~*
*.mdb~*
*.accdb~*
*.dbase~*
*.dbb~*
*.dbt~*
*.odb~*
*.fdb~*
*.gdb~*
*.ndb~*
*.pdb~*
*.sdb~*
*.tdb~*
*.wdb~*
*.dump~*
*.dump.ldb~*
*.log~*
*.out~*
*.err~*
*.error~*
*.stderr~*
*.stdout~*
*.exe~*
*.bin~*
*.dat~*
*.data~*
*.dump~*
*.heap~*
*.prof~*
*.stackdump~*
*.core~*
*.dmp~*
*.crash~*
*.crashlog~*
*.crashreport~*
*.minidump~*
*.mdmp~*
*.hdmp~*
*.dmp~*
*.crash~*
*.crashlog~*
*.crashreport~*
*.minidump~*
*.mdmp~*
*.hdmp~*
*.save~*
*.autosave~*
*.backup~*
*.bak~*
*.old~*
*.orig~*
*.rej~*
*.tmp~*
*.temp~*
*.cache~*
*.cached~*
*.cch~*
*.pyc~*
*.pyo~*
*.pyd~*
*.so~*
*.dll~*
*.dylib~*
*.obj~*
*.lib~*
*.a~*
*.o~*
*.ko~*
*.mod.o~*
*.mod.c~*
*.so~*
*.dylib~*
*.dll~*
*.exe~*
*.out~*
*.app~*
*.bin~*
*.elf~*
*.axf~*
*.uf2~*
*.hex~*
*.bin~*
*.lss~*
*.lst~*
*.map~*
*.sym~*
*.dbg~*
*.debug~*
*.pdb~*
*.idb~*
*.iobj~*
*.ipdb~*
*.ilk~*
*.exp~*
*.lib~*
*.sln~*
*.vcxproj~*
*.vcproj~*
*.suo~*
*.user~*
*.userosscache~*
*.sdf~*
*.opensdf~*
*.sln.docstates~*
*.VC.db~*
*.VC.VC.opendb~*
*.aps~*
*.ncb~*
*.opt~*
*.plg~*
*.tlb~*
*.tli~*
*.tlh~*
*.tmp~*
*.log~*
*.bak~*
*.old~*
*.~*~*
*.#*~
*.swp~*
*.swo~*
*~
.\#*~
,*.s~*
*.nib~*
*.emlxpart~*
*.emlx~*
*.plist~*
*.mobileconfig~*
*.ipa~*
*.dmg~*
*.pkg~*
*.mpkg~*
*.app~*
*.applescript~*
*.scpt~*
*.scptd~*
*.workflow~*
*.wdgt~*
*.bundle~*
*.framework~*
*.plugin~*
*.kext~*
*.lproj~*
*.lproj/.DS_Store~*
*.icns~*
*.ico~*
*.pdf~*
*.dmg~*
*.pkg~*
*.mpkg~*
*.app~*
*.applescript~*
*.scpt~*
*.scptd~*
*.workflow~*
*.wdgt~*
*.bundle~*
*.framework~*
*.plugin~*
*.kext~*
*.lproj~*
*.lproj/.DS_Store~*
*.xcworkspace~*
*.xccheckout~*
*.xcuserstate~*
*.xcscmblueprint~*
*.xcscheme~*
*.xcodeproj~*
*.xcode~*
*.xcodeproj/xcuserdata~*
*.xcodeproj/project.xcworkspace~*
*.xcodeproj/xcshareddata~*
*.xcodeproj/xcdebuginfo~*
*.xcodeproj/xcarchive~*
*.xcodeproj/xccheckout~*
*.xcodeproj/xcscmblueprint~*
*.xcodeproj/xcuserdatadone~*
*.xcodeproj/xcdebuginfodone~*
*.xcodeproj/xcarchivedone~*
*.xcodeproj/xccheckoutdone~*
*.xcodeproj/xcscmblueprintdone~*
*.xcodeproj/xcuserdatadone~*
*.xcodeproj/xcdebuginfodone~*
*.xcodeproj/xcarchivedone~*
*.xcodeproj/xccheckoutdone~*
*.xcodeproj/xcscmblueprintdone~*

# Unreal Engine
[Bb]in/
[Bb]uild/
[Ii]ntermediate/
Saved/
.vs/
*.VC.db
*.VC.VC.opendb
*.sln
*.suo
*.opensdf
*.sdf
*.csharp
*.pidb
*.user
*.userosscache
*.sln.docstates
*.VC.VC.opendb
*.VC.db
*.*
!README.md
!readme.md
!Readme.md
!ReadMe.md
!LICENSE
!license
!License
!COPYING
!copying
!Copying
!NOTICE
!notice
!Notice
!CHANGELOG
!changelog
!Changelog
!CONTRIBUTING
!contributing
!Contributing
!PULL_REQUEST_TEMPLATE
!pull_request_template
!PullRequestTemplate
!ISSUE_TEMPLATE
!issue_template
!IssueTemplate
!CODE_OF_CONDUCT
!code_of_conduct
!CodeOfConduct
!SECURITY.md
!security.md
!Security.md
!README
!readme
!Readme
!ReadMe
!main.go
!main.py
!main.js
!main.ts
!main.rs
!main.cpp
!main.c
!main.dart
!main.swift
!main.java
!main.php
!main.rb
!main.ex
!main.exs
!main.clj
!main.cljs
!main.coffee
!main.ls
!main.scala
!main.kt
!main.kts
!main.sh
!main.bat
!main.ps1
!main.fish
!main.zsh
!main.bash
!main.sql
!main.xml
!main.json
!main.yaml
!main.yml
!main.toml
!main.ini
!main.cfg
!main.conf
!main.properties
!main.env
!main.dockerfile
!main.mk
!main.make
!main.cmake
!main.pro
!main.qbs
!main.qml
!main.html
!main.css
!main.scss
!main.less
!main.styl
!main.vue
!main.jsx
!main.tsx
!main.svelte
!main.astro
!main.njk
!main.hbs
!main.handlebars
!main.mustache
!main.ejs
!main.pug
!main.jade
!main.twig
!main.liquid
!main.md
!main.markdown
!main.rst
!main.adoc
!main.asciidoc
!main.tex
!main.bib
!main.bst
!main.cls
!main.sty
!main.dtx
!main.ins
!main.ltx
!main.texi
!main.texinfo
!main.info
!main.pdf
!main.ps
!main.dvi
!main.aux
!main.log
!main.lof
!main.lot
!main.toc
!main.out
!main.bbl
!main.blg
!main.idx
!main.ind
!main.ilg
!main.fls
!main.fdb_latexmk
!main.run.xml
!main.xml
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
!main.iws
!main.ipl
!main.iws
!main.iws
!main.iml
!main.iws
!main.ipr
......
```